@tailwind base;
@tailwind components;
@tailwind utilities;

a[target="_blank"]:visited {
  color: gray;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-slider {
  margin-left: 1.25rem !important;
  margin-right: 2.25rem !important;
}
