@tailwind base;
@tailwind components;
@tailwind utilities;

a[target="_blank"]:visited {
  color: #0B0080;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m0 {
  margin-bottom: 0px !important;
}

.paginated-list {
  margin-top: 1rem;
  padding-bottom: 2rem !important;
}

.ant-card-actions > li:not(:last-child) {
  pointer-events: none !important;
}

.ant-card-actions > li:last-child > span > div > button > a, .links {
  color: white !important;
}

.ant-card-actions > li:last-child > span > div > button > a:hover {
  color: white !important;
}

@media (min-width: 576px) {
  .ant-collapse-header {
    margin-left: 0rem;
  }
}

@media (min-width: 768px) {
  .ant-collapse-header {
    margin-left: 4rem;
  }
}

@media (min-width: 992px) {
  .ant-collapse-header {
    margin-left: 8rem;
  }
}

.find-more-btn {
  height: 2.5rem !important;
}

.site-custom-tab-bar {
  z-index: 1080;
  background: #fff;
}

.ant-tabs-nav-list {
  display: flex;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  justify-content: center;
  width: 100%;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}

.ant-tabs-nav-more {
  display: none;
}
