@tailwind base;
@tailwind components;
@tailwind utilities;

a[target="_blank"]:visited {
  color: gray;
}

body {
  font-family: "DM Sans", sans-serif;
}

.ant-select-item-option {
  z-index: 200;
}

.ant-tooltip {
  z-index: 100;
}
