@font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@primary-color: #3366cc;

@zindex-dropdown: 1080;
@zindex-modal: 1090;
@zindex-modal-mask: @zindex-modal;
@zindex-message: 1100;
@zindex-notification: @zindex-message;
@zindex-image: 1110;

@tooltip-bg: @primary-color;

@back-top-bg: @primary-color;
@back-top-hover-bg: @primary-color;
